<a href="https://colab.research.google.com/github/sgautham512/Data-Cleaning/blob/main/Project3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
import logging
!pip install boto3
from botocore.exceptions import ClientError

Collecting boto3
  Downloading boto3-1.37.3-py3-none-any.whl.metadata (6.6 kB)
Collecting botocore<1.38.0,>=1.37.3 (from boto3)
  Downloading botocore-1.37.3-py3-none-any.whl.metadata (5.7 kB)
Collecting jmespath<2.0.0,>=0.7.1 (from boto3)
  Downloading jmespath-1.0.1-py3-none-any.whl.metadata (7.6 kB)
Collecting s3transfer<0.12.0,>=0.11.0 (from boto3)
  Downloading s3transfer-0.11.3-py3-none-any.whl.metadata (1.7 kB)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /usr/local/lib/python3.11/dist-packages (from botocore<1.38.0,>=1.37.3->boto3) (2.8.2)
Requirement already satisfied: urllib3!=2.2.0,<3,>=1.25.4 in /usr/local/lib/python3.11/dist-packages (from botocore<1.38.0,>=1.37.3->boto3) (2.3.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.38.0,>=1.37.3->boto3) (1.17.0)
Downloading boto3-1.37.3-py3-none-any.whl (139 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 139.3/139.3 kB 4.0 MB/s eta 0:00:00
Downloading botocore-1.37.3-py3-none-any.whl (13.3 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.3/13.3 MB 47.4 MB/s eta 0:00:00
Downloading jmespath-1.0.1-py3-none-any.whl (20 kB)
Downloading s3transfer-0.11.3-py3-none-any.whl (84 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 84.2/84.2 kB 6.1 MB/s eta 0:00:00
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.37.3 botocore-1.37.3 jmespath-1.0.1 s3transfer-0.11.3

In [13]:
import os

# Replace with your actual AWS credentials
os.environ["AWS_ACCESS_KEY_ID"] = "AKIATWBJ2J2OGNB3WSMT"
os.environ["AWS_SECRET_ACCESS_KEY"] = "AN9GTEBkd7usZ2p0GjnNyqTbNbaYP/FCKTiih7xM"

In [14]:
import boto3
# Verify connection by fetching caller identity
sts_client = boto3.client('sts')
identity = sts_client.get_caller_identity()
print("Connected to AWS as:", identity["Arn"])

Connected to AWS as: arn:aws:iam::253490777756:user/main_user

In [16]:
import boto3

# Let's use Amazon S3
s3 = boto3.resource('s3')

In [17]:
# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

my-new-bun-bucket-name-1

In [22]:
bucket_name = "my-new-bun-bucket-name-1"

#s3.create_bucket(Bucket=bucket_name, CreateBucketConfiguration={'LocationConstraint': 'eu-central-1'})
print(f"Bucket {bucket_name} created successfully!")

Bucket my-new-bun-bucket-name-1 created successfully!

In [23]:
with open('source1.csv', 'rb') as data:
    s3.Bucket(bucket_name).put_object(Key='source1.csv', Body=data)

In [24]:
with open('source1.json', 'rb') as data:
    s3.Bucket(bucket_name).put_object(Key='source1.json', Body=data)
with open('source1.xml', 'rb') as data:
    s3.Bucket(bucket_name).put_object(Key='source1.xml', Body=data)

In [25]:
s3 = boto3.client('s3')
s3.download_file(bucket_name, 'source1.xml', 'source1.xml')
s3.download_file(bucket_name, 'source1.json', 'source1.json')
s3.download_file(bucket_name, 'source1.csv', 'source1.csv')

In [26]:
import glob
import pandas as pd
import xml.etree.ElementTree
import datetime
import json
import logging
import os

# Setup logging configuration - this cofiguration not working for some reason
logging.basicConfig(
    filename='operations.txt',   # Name of the log file
    level=logging.INFO,          # Log level (INFO, DEBUG, etc.)
    format='%(asctime)s - %(message)s', # Log format with timestamp
    datefmt='%Y-%m-%d %H:%M:%S'  # Date and time format
)

# Create a logger object
logger = logging.getLogger(__name__)
logger.setLevel(logging.INFO)         # Set the logging level

# Create a file handler
file_handler = logging.FileHandler('operations.txt')  # Name of the log file
file_handler.setLevel(logging.INFO)

# Create a formatter and add it to the handler
formatter = logging.Formatter('%(asctime)s - %(message)s', datefmt='%Y-%m-%d %H:%M:%S')
file_handler.setFormatter(formatter)

# Add the handler to the logger
logger.addHandler(file_handler)

def ExtractDataFromCSV(csv_files):
  data_frame = pd.DataFrame()
  for file in csv_files:
    # Load the CSV into a Pandas DataFrame
    # data_frame = pd.read_csv(file)
    # print(data_frame)
    logger.info(f"contents of the {file} is appended to list")
    data_frame = pd.concat([data_frame,  pd.read_csv(file)], ignore_index=True)
  print(data_frame)
  return data_frame

def ExtractDataFromJSON(json_files):
  data_frame = pd.DataFrame()
  for file in json_files:
    # Load the json into a Pandas DataFrame
    # json_data = pd.read_json(file, lines=True)
    # print(json_data)
    logger.info(f"contents of the {file} is appended to list")
    data_frame = pd.concat([data_frame,  pd.read_json(file,lines=True)], ignore_index=True)
  print(data_frame)
  return data_frame

def ExtractDataFromXML(xml_files):
  data_frame = pd.DataFrame()
  for file in xml_files:
    # Load the json into a Pandas DataFrame
    # xml_data = pd.read_xml(file)
    # print(xml_data)
    logger.info(f"contents of the {file} is appended to list")
    data_frame = pd.concat([data_frame,  pd.read_xml(file)], ignore_index=True)
  print(data_frame)
  return data_frame

def ExtractData(file_path):
  main_data_frame = pd.DataFrame()
  try:
    # csv files are flat structure where things are represented in rows and columns
    all_csv_files = glob.glob(f"{file_path}/*.csv")
    print(all_csv_files)
    logger.info("Checks for all csv files in the directory")
    logger.info(f"list of csv files {all_csv_files}")
    main_data_frame = ExtractDataFromCSV(all_csv_files)
    print(f"main function print {main_data_frame}")

    # json structure is heirarchial and not always flat, might require special handling in some cases
    # default structure for json [....] bur one can also use the lines are delimiter
    # to read such files lines=TRUE should be set
    all_json_files = glob.glob(f"{file_path}/*.json")
    print(all_json_files)
    logger.info("Checks for all json files in the directory")
    logger.info(f"list of json files {all_json_files}")
    json_data_frame = ExtractDataFromJSON(all_json_files)
    main_data_frame = pd.concat([main_data_frame, json_data_frame], ignore_index=True)

    # straight forward method
    all_xml_files = glob.glob(f"{file_path}/*.xml")
    print(all_xml_files)
    logger.info("Checks for all xml files in the directory")
    logger.info(f"list of xml files {all_xml_files}")
    xml_data_frame = ExtractDataFromXML(all_xml_files)
    main_data_frame = pd.concat([main_data_frame, xml_data_frame], ignore_index=True)

     # remove the duplicate entries if there exists something
    main_data_frame = main_data_frame.drop_duplicates()
    main_data_frame = main_data_frame.reset_index(drop=True)
    logger.info(f"Duplicate entries are removed")


  except Exception as e:
    logging.info(f"Error occurred: {e}")

  return main_data_frame


current_directory = os.getcwd()
print(f"current directory - {current_directory}")
df = ExtractData(current_directory)
print(df)
#convert the entire height column from inches to meters
df["height"] = df["height"] * 0.0254
logger.info(f"heights are converted from inches to meter")

#convert the entire weight column from pounds to kgs
df["weight"] = df["weight"] * 0.453592
logger.info(f"weights are converted from pounds to kgs")

print(df)

df.to_csv('transformed_data.csv', index=False)
logger.info(f"A new csv file created with content from various appended and converted")

INFO:__main__:Checks for all csv files in the directory
INFO:__main__:list of csv files ['/content/source3.csv', '/content/source2.csv', '/content/source1.csv']
INFO:__main__:contents of the /content/source3.csv is appended to list
INFO:__main__:contents of the /content/source2.csv is appended to list
INFO:__main__:contents of the /content/source1.csv is appended to list
INFO:__main__:Checks for all json files in the directory
INFO:__main__:list of json files ['/content/source1.json', '/content/source3.json', '/content/source2.json']
INFO:__main__:contents of the /content/source1.json is appended to list
INFO:__main__:contents of the /content/source3.json is appended to list
INFO:__main__:contents of the /content/source2.json is appended to list
INFO:__main__:Checks for all xml files in the directory
INFO:__main__:list of xml files ['/content/source3.xml', '/content/source1.xml', '/content/source2.xml']
INFO:__main__:contents of the /content/source3.xml is appended to list

current directory - /content
['/content/source3.csv', '/content/source2.csv', '/content/source1.csv']
     name  height  weight
0    alex   65.78  112.99
1    ajay   71.52  136.49
2   alice   69.40  153.03
3    ravi   68.22  142.34
4     joe   67.79  144.30
5    alex   65.78  112.99
6    ajay   71.52  136.49
7   alice   69.40  153.03
8    ravi   68.22  142.34
9     joe   67.79  144.30
10   alex   65.78  112.99
11   ajay   71.52  136.49
12  alice   69.40  153.03
13   ravi   68.22  142.34
14    joe   67.79  144.30
main function print      name  height  weight
0    alex   65.78  112.99
1    ajay   71.52  136.49
2   alice   69.40  153.03
3    ravi   68.22  142.34
4     joe   67.79  144.30
5    alex   65.78  112.99
6    ajay   71.52  136.49
7   alice   69.40  153.03
8    ravi   68.22  142.34
9     joe   67.79  144.30
10   alex   65.78  112.99
11   ajay   71.52  136.49
12  alice   69.40  153.03
13   ravi   68.22  142.34
14    joe   67.79  144.30
['/content/source1.json', '/content/source3.json', '/content/source2.json']
     name  height  weight
0    jack   68.70  123.30
1     tom   69.80  141.49
2   tracy   70.01  136.46
3    john   67.90  112.37
4    jack   68.70  123.30
5     tom   69.80  141.49
6   tracy   70.01  136.46
7    john   67.90  112.37
8    jack   68.70  123.30
9     tom   69.80  141.49
10  tracy   70.01  136.46
11   john   67.90  112.37
['/content/source3.xml', '/content/source1.xml', '/content/source2.xml']

INFO:__main__:contents of the /content/source1.xml is appended to list
INFO:__main__:contents of the /content/source2.xml is appended to list
INFO:__main__:Duplicate entries are removed
INFO:__main__:heights are converted from inches to meter
INFO:__main__:weights are converted from pounds to kgs
INFO:__main__:A new csv file created with content from various appended and converted

     name  height  weight
0   simon   67.90  112.37
1   jacob   66.78  120.67
2   cindy   66.49  127.45
3    ivan   67.62  114.14
4   simon   67.90  112.37
5   jacob   66.78  120.67
6   cindy   66.49  127.45
7    ivan   67.62  114.14
8   simon   67.90  112.37
9   jacob   66.78  120.67
10  cindy   66.49  127.45
11   ivan   67.62  114.14
     name  height  weight
0    alex   65.78  112.99
1    ajay   71.52  136.49
2   alice   69.40  153.03
3    ravi   68.22  142.34
4     joe   67.79  144.30
5    jack   68.70  123.30
6     tom   69.80  141.49
7   tracy   70.01  136.46
8    john   67.90  112.37
9   simon   67.90  112.37
10  jacob   66.78  120.67
11  cindy   66.49  127.45
12   ivan   67.62  114.14
     name    height     weight
0    alex  1.670812  51.251360
1    ajay  1.816608  61.910772
2   alice  1.762760  69.413184
3    ravi  1.732788  64.564285
4     joe  1.721866  65.453326
5    jack  1.744980  55.927894
6     tom  1.772920  64.178732
7   tracy  1.778254  61.897164
8    john  1.724660  50.970133
9   simon  1.724660  50.970133
10  jacob  1.696212  54.734947
11  cindy  1.688846  57.810300
12   ivan  1.717548  51.772991

In [27]:
import time
unique_bucket_name = f"transformBucket-{int(time.time())}"

try:
    s3.create_bucket(Bucket=unique_bucket_name)
    print(f"Bucket '{unique_bucket_name}' created successfully.")
except Exception as e:
    print(f"Error: {e}")

Error: An error occurred (InvalidBucketName) when calling the CreateBucket operation: The specified bucket is not valid.

In [28]:
import boto3

# Let's use Amazon S3
s3 = boto3.resource('s3')

with open('transformed_data.csv', 'rb') as data:
    s3.Bucket(bucket_name).put_object(Key='transformed_data.csv', Body=data)

In [3]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl.metadata (6.0 kB)
Downloading mysql_connector_python-9.2.0-cp311-cp311-manylinux_2_28_x86_64.whl (34.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 34.0/34.0 MB 34.0 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.2.0

In [6]:
import mysql.connector
from mysql.connector import Error

In [50]:
try:
    connection = mysql.connector.connect(
    host = "database-1.cn48wookeoh0.eu-central-1.rds.amazonaws.com",
    port = 3306,
    user = "admin",
    password = "Sundar_90",
    database="ETL"
    )
    if connection.is_connected():
        print("Connection successful!")
        # Ping the server
        connection.ping(reconnect=True, attempts=3, delay=5)
        print("Ping successful!")
        mycursor = connection.cursor()
except Error as e:
    print(f"Error: {e}")

Connection successful!
Ping successful!

In [48]:
mycursor.execute("show databases")

In [49]:
for i in mycursor:
  print(i)

('ETL',)
('information_schema',)
('mysql',)
('performance_schema',)
('sys',)

In [39]:
mycursor.execute("create database ETL")

In [40]:
def create_table_and_insert(csv_file_path, table_name, host, user, password, database):
    try:
        # Load the CSV into a Pandas DataFrame
        df = pd.read_csv(csv_file_path)

        # Connect to MySQL
        connection = mysql.connector.connect(
            host=host,
            user=user,
            password=password,
            database=database
        )
        cursor = connection.cursor()

        # Generate SQL table creation statement based on DataFrame
        columns = []
        for col in df.columns:
            # Infer data type
            dtype = df[col].dtype
            if pd.api.types.is_integer_dtype(dtype):
                sql_type = "INT"
            elif pd.api.types.is_float_dtype(dtype):
              sql_type = "FLOAT"
            elif pd.api.types.is_datetime64_any_dtype(dtype):
                sql_type = "DATETIME"
            else:
                max_length = max(df[col].astype(str).apply(len).max(), 255)
                sql_type = f"VARCHAR({max_length})"
            columns.append(f"`{col}` {sql_type}")

        create_table_query = f"CREATE TABLE IF NOT EXISTS `{table_name}` ({', '.join(columns)});"
        cursor.execute(create_table_query)
        print(f"Table `{table_name}` created successfully!")

        # Insert data into the table
        placeholders = ', '.join(['%s'] * len(df.columns))
        insert_query = f"INSERT INTO `{table_name}` VALUES ({placeholders})"
        cursor.executemany(insert_query, df.values.tolist())
        connection.commit()
        print(f"Inserted {cursor.rowcount} rows into `{table_name}`!")

    except Error as e:
        print(f"Error: {e}")
    finally:
        if 'connection' in locals() and connection.is_connected():
            cursor.close()
            connection.close()
            print("MySQL connection closed.")

In [41]:
# Example Usage
create_table_and_insert(
    csv_file_path="transformed_data.csv",       # Path to your CSV file
    table_name="transformed_data_table",  # Table name to create
    host = "database-1.cn48wookeoh0.eu-central-1.rds.amazonaws.com",
    user = "admin",
    password = "Sundar_90",
    database = "ETL"
 )

Table `transformed_data_table` created successfully!
Inserted 13 rows into `transformed_data_table`!
MySQL connection closed.

In [53]:
# mycursor.execute("show tables")
# for x in mycursor:
#   print(x)
# mycursor.execute("describe transformed_data_table")
# print(list(mycursor))

mycursor.execute("select* from ETL.transformed_data_table")
out = mycursor.fetchall()
from tabulate import tabulate
print(tabulate(out, headers=[i[0] for i in mycursor.description],showindex="always",tablefmt='psql'))

+----+--------+----------+----------+
|    | name   |   height |   weight |
|----+--------+----------+----------|
|  0 | alex   |  1.67081 |  51.2514 |
|  1 | ajay   |  1.81661 |  61.9108 |
|  2 | alice  |  1.76276 |  69.4132 |
|  3 | ravi   |  1.73279 |  64.5643 |
|  4 | joe    |  1.72187 |  65.4533 |
|  5 | jack   |  1.74498 |  55.9279 |
|  6 | tom    |  1.77292 |  64.1787 |
|  7 | tracy  |  1.77825 |  61.8972 |
|  8 | john   |  1.72466 |  50.9701 |
|  9 | simon  |  1.72466 |  50.9701 |
| 10 | jacob  |  1.69621 |  54.7349 |
| 11 | cindy  |  1.68885 |  57.8103 |
| 12 | ivan   |  1.71755 |  51.773  |
+----+--------+----------+----------+